# Electron 国内镜像加速
electron_mirror=https://npmmirror.com/mirrors/electron/

# 其他镜像（可选）
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips/
puppeteer_download_host=https://npmmirror.com/mirrors/